* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    

 background: rgb(127,255,212);
 background: radial-gradient(circle, rgba(127,255,212,1) 0%, rgba(218,112,214,1) 75%);

}


main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rel {

    width: 600px;
    height: 600px;
    background:	#ADD8E6;
    border-radius: 600px;
    border: 15px groove #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.num {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.num-1 {
    transform: rotate(30deg);
}

.num-2 {
    transform: rotate(60deg);
}

.num-3 {
    transform: rotate(90deg);
}

.num-4 {
    transform: rotate(120deg);
}

.num-5 {
    transform: rotate(150deg);
}

.num-6 {
    transform: rotate(180deg);
}

.num-7 {
    transform: rotate(210deg);
}

.num-8 {
    transform: rotate(240deg);
}

.num-9 {
    transform: rotate(270deg);
}

.num-10 {
    transform: rotate(300deg);
}

.num-11 {
    transform: rotate(330deg);
}

.num-12 {
    transform: rotate(360deg);
}

.seg-hand {

    width: 5px;
    height: 240px;
    background-color: #FF1493;
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.min-hand {

    width: 8px;
    height: 200px;
    background-color: #333;
    position: absolute;
    border-radius: 10px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.hora-hand {

    width: 13px;
    height: 150px;
    background-color: #222;
    position: absolute;
    border-radius: 10px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.pont {
    width: 20px;
    height: 20px;
    background-color: #FF1493;
    border-radius: 20px;
    position: absolute;
}
